.footer-admin-page {
  padding: 20px;
}

.page-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.admin-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.section-title {
  font-weight: 500;
   font-size: 23px;
  /* margin-bottom: 15px; */
  color: #097258;
}

.delete-icon {
  color: #dc3545;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.2);
}

.table-header th {
  font-weight: 600;
   background-color: #e4ab69; 
  vertical-align: middle;
}
